.contactimg {
  width: 100%;
  height: 100vh;
  position: relative;
}
.contactimg::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  background: url("https://images.unsplash.com/photo-1474403078171-7f199e9d1335?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
  background-size: cover;
  background-position: center top;
  position: absolute;
  z-index: -1;
}

.contactcontent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactcontent h1 {
  padding: 0.5rem 0 1.5rem;
  font-size: 50px;
  text-align: center;
}

.contactcontent p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
