.project-card {
  max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  grid-gap: 40px;
  padding: 10px 0px;
}

.prject-card-container img {
  width: 100%;
}

.project-head {
  font-size: 30px;
  margin-bottom: 10px;
  color: aliceblue;
}

.project-content {
  font-size: 15px;
  margin-bottom: 10px;
  color: aliceblue;
  font-weight: normal;
}

.project-btn {
  display: flex;
  justify-content: space-between;
}

.project-btn .btn {
  padding: 0.5rem 1rem;
}
